/** fogtransfert.css
**	Fichier de style CSS pour FOG Transfert
**/

.grey
{
	background: #858585;
	color: #000000;
}

.green
{
	background: #76E887;
	color: #000000;
}

.orange
{
	background: #E8B67C;
	color: #000000;
}

.red
{
	background: #E87C8D;
	color: #000000;
}

h1.init
{
	color: #000000;
	font-size: 18px;
	margin-bottom: 30px;
}

h1.initbis
{
	color: #000000;
	font-size: 18px;
	margin: 20px 0 5px 0;
}

.listconseil
{
	list-style: square;
	margin: 0 0 2px 20px;
}

li.spacer
{
	margin: 0 0 8px;
}

.showForm
{
	width: 40%;
	border-width: 0px;
	border-style: solid;
	border-color: #A8A8A8;
}

#box{
	
	width: 700px;
	font-size: 12px;
	margin: 0 0 30px 0;
}

.lien_afficher_masquer, a.lien_afficher_masquer
{
	color: #000000;
}

#contenu_grey, #contenu_green, #contenu_orange, #contenu_red
{
	padding: 10px 0 10px 10px;
}

.mysql_error_green
{
	font-style: italic;
	font-size: 13px;
	margin: 0 0 0 5px;
}

sup 
{
	margin-top: 155px;
	margin-left: -60px;
	position: absolute;
	vertical-align: text-top;
}

input[type="submit"]
{
	height: 25px;
	font-size: 12px;
	padding: 3px;
}

input[type="text"], input[type="password"] 
{
	height: 20px;
	width: 200px;
	font-size: 12px;
	padding: 3px;
}

table
{
	height: 25px;
	font-size: 12px;
	padding: 3px;
}
